.baseButton {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin: 0;
    padding: 15px 30px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    background: deepskyblue;
    color: white;
    transition: background-color 0.1s;
}

.baseButton:hover {
    background: deepskyblue;
}

.baseButton:hover {
    background: black;
    border-color: black;
}

.baseButton .button-secondary {
    background: cornflowerblue;
    color: cornflowerblue;
}

.baseButton:disabled,
.buttonDisabled {
    background: grey;
}

.baseButton, .buttonSmall {
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 400;
}
