html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-width: 800px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.main {
  position: relative;
  height: 100%;
}